services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: translations
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - appnet
    healthcheck: # מוודא שהמסד מוכן לפני שהבקאנד מתחבר
      test: ["CMD-SHELL", "pg_isready -U postgres -d translations"]
      interval: 5s
      timeout: 5s
      retries: 5

  translator:
    image: libretranslate/libretranslate
    ports:
      - "5000:5000"
    networks:
      - appnet

  backend:
    build: ./backend
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/translations
      TRANSLATOR_URL: http://translator:5000 # כתובת פנימית בתוך הרשת
    ports:
      - "3001:3001"
    depends_on:
      db:
        condition: service_healthy # מחכה שהמסד יהיה תקין
      translator:
        condition: service_started
    networks:
      - appnet

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    networks:
      - appnet

volumes:
  postgres_data:

networks:
  appnet:
    driver: bridge